body{
    margin:0;
    padding:0;
    width:100dvw;
    height:100dvh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ebe534;
    /* background-color: #99a832; */
    color:#0e2518;
}
.container{
    grid-template: 1fr 99fr/ 2fr 10fr;
    height:100dvh;
    width:100dvw;
    display:grid;
    overflow: hidden;
    /* border:1px solid blueviolet; */
}
.nav-container{
    grid-row: 1/2;
    grid-column: 1/3;
    height:8dvh;
    width:100dvw;
    margin-right:2px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    background-color: rgba(0, 0, 0, 0.897);
    color:yellow;
    /* border: 1px solid white; */
}
.genre-container{
    grid-row: 2/3;
    grid-column: 1/2;
    height:85dvh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    /* border:1px solid green; */
}
.genre-container::-webkit-scrollbar{
    display: none;
}
.genre-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top:4px;
    margin-bottom: 3px;
}
.genres{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3px;
    padding:5px;
    width:80%;
    background-color: black;
    color:rgb(236, 236, 97);
    border-radius: 10px;
    font-size:18px;

}
.genres:hover{
    cursor:pointer;
    background-color: white;
    color:orangered;
}
.movie-container{ 
    grid-row:2/3;
    grid-column:2/3;
    /* height:94dvh; */
    /* border:1px solid red; */
}
.movieCard-Container{
    display: grid;
    grid-template: auto/1fr 1fr 1fr 1fr;
    gap:2%;
    height:85dvh;
    overflow-y: auto;
    margin-left:3px;
    margin-right:3px;
    overflow-y: auto;
}

.movieCard-Container::-webkit-scrollbar{
    display: none;
}
.movies{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: hsl(0, 33%, 3%);
    padding:5px;
    color:yellow;
    border-radius: 10px;
}
.movies:hover{
    cursor:pointer;
    border:1px solid white;
}
h1{
    height:3dvh;
    padding:1px;
    margin:5px;
    font-size:20px;
    color:black;
}
.logo{
    width:70%;
    padding-left:5%;
    font-size: 22px;
}
input{
    width:13%;
    height:24px;
    background-color: rgba(35, 6, 88, 0.411);
    border: 1px solid white;
    border-radius: 10px;
    color:yellow;
    font-size:17px;
}
input::placeholder{
    font-size:12px;
    color:hsla(60, 100%, 50%, 0.603);
}
input:hover{
    border:1px solid orange;
    border-radius:11px;
}
input:focus{
    border:1px solid orangered;
    border-radius:11px;
    background-color:rgba(35, 6, 88, 0.5);
    color:yellow;
}
button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:7%;
    height:24px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding:5px;
    font-size:15px;
}
button:hover{
    background-color: black;
    color:yellow;
}
img{
    height:90%;
    width:100%;
}
.title{
    margin:3px;
}
.lang-rating-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
}
.lang,.rating{
    margin: 3px;
}

