*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
h1,span{
    color:yellow;
}
span{
    font-size: larger;
}
h1{
    margin-top:15vh;
}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height:80dvh;
    width:80dvw;
    /* border: 1px solid white; */
    margin: auto;
    /* align-content: center; */
}
.innerContainer{
    display : flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width:60dvw;
    height:40dvh;
    background-color: hsla(0, 0%, 20%, 0.637);
    border:1px solid yellow;
    border-radius:10px;
    margin:auto;
    /* position:absolute; */
    top:25vh;
    left:20dvw;
}
.box{
    display : flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:70%;
    height:100%;
    /* border:1px solid yellow; */
}
.buttonContainer{
    display : flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:30%;
    height:100%;
    /* border:1px solid green; */
}
.btn{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width:60%;
    height:15%;
    background-color: orangered;
    color:white;
    border:none;
    border-radius:8px;
    padding:4px;
    margin:4px;
    font-size:90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover,.active:hover{
    background-color: black;
    color: white;
}
.inputs{
    width:15%;
    height:15%;
    background-color: black;
    color:hsla(60, 100%, 50%, 0.89);
    border:1px solid hsla(60, 100%, 50%, 0.89);
    text-align: center;
    font-size: 150%;
    border-radius: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ProgressBar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height:5vh;
    width:60dvw;
    /* background-color: rgba(128, 128, 128, 0.342); */
    background-color: none;
    border-radius:8px;
    /* border: thin solid orange; */
    border:none;

}
.bar{
    width:0;
    height:10%;
    border-radius:8px;
    background-color: green;
}
.progressIndicator{
    color: orange;
    font-size:20px;
    font-weight: bold;
}
.active{
    background-color: green;
    border-radius:8px;
    color:white;
    /* border:1px solid whitesmoke; */
    border-radius:8px;
    padding:4px;
}